ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#homepageimages
{
  width:400px;
  height:400px
}
td
{
  padding-top:10px;
}

body
{
  background-color: beige;
}
